{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="page">
        <div class="content">
            <div class="container-xl">
                <h1 class="mb-3">Städteportal</h1>

                <div class="card" {{ stimulus_controller('hello') }}>
                    <div class="card-body">
                        <button class="btn btn-primary" {{ stimulus_action('hello', 'ping', 'click') }}>
                            Ping Stimulus
                        </button>
                        <span class="ms-2" {{ stimulus_target('hello', 'output') }}></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xl my-4">
            <div class="card">
                <div class="card-body">
                    <a href="/cities" class="btn btn-primary">Cities</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
